
$bgColor = #cccccc
$headerTextColor = #2c3e50
$headerBg = #ffffff
$footerBg = #2c3e50
$nprogressColor = #3eaf7c
$codeBgColor = #2c3e50

$smMedia = 640px
$mdMedia = 768px
$lgMedia = 1024px
$xlMedia = 1280px

$accentColor = lighten(#4a154b, 50%)

$textColor = #2c3e50
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

$postTagBgColor = #ededed;
$postTagColor = darken($postTagBgColor,50%)

// layout
$headerHeight = 80px